.gallery-root {
    height: 100%;
}

.page-body {
    background-color: #70480D;
    height: 100%;
    width: 100%;
}

.filter-sort {
    
}

.filter-icon {
    font-size: 10px;
}

.sort-icon {
    font-size: 10px;
}