.gallery-root {
    height: 100%;
}

.gallery-title-bar {
    display: flex;
}

.title-bar-section-sm {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.new-submission-container {
    justify-content: flex-end;
    padding: 13px;
}

.title-bar-section-sm a {
    height: 34px;
}

.new-submission-btn {
    margin-top: -34px;
    height: 34px;
}

.title-bar-section-lg {
    width: 60%;
}

.page-body {
    background-color: #70480D;
    height: 100%;
    width: 100%;
}

.title-bar-icon {
    font-size: 20px !important;
}

.new-submission-text {
    line-height: 1.1;
}

.new-submission-elements {
    display: flex;
    justify-content: space-between;
}