.canvas-root {
    height: calc(100% - 150px);
}

.page-body {
    background-color: #70480D;
    height: calc(100% - 60px);
    width: 100%;
    padding: 50px;
}

.canvas-with-tools {
    display: flex;
    height: 100%;
    width: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: white;
}

.tools {
    width: 280px;
    background-color: #CFCFCF;
    display: flex;
}