.tool-button {
    display: flex;
    flex-basis: calc(33.33333% - 10px);
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    background-color: #BABABA;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
}

.material-icons-outlined {
    font-size: 36px;
}

.material-icons {
    font-size: 36px;
}