.MySubmissions-root {
    height: calc(100% - 150px);
}

.MySubmissions-page-body {
    background-color: #70480D;
    height: calc(100% - 60px);
    width: 100%;
    padding: 50px;
}

.MySubmissions-logo > image{
    background-image: url(./Memes/birdarms.png);
    display: block;
    margin: 0 auto;
    resize: 'contain';
}