.navbar {
    background-color: #068e03;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    left: 5px;
    top: 0px;
    height: 100px;
    margin-left: 25px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navbar-links > a {
    text-decoration: unset;
}

.navbar-link {
    font-size: 36px;
    color: white;
}

.hamburger-icon {
    color: white;
    font-size: 50px;
    margin-right: 48px;
    cursor: pointer;
    caret-color: transparent;
}