.LeavingFeedback-root {
    height: calc(100% - 150px);
}

.LeavingFeedback-page-body {
    background-color: #70480D;
    height: calc(100% - 60px);
    width: 100%;
    padding: 50px;
}

.heart-button {
    background-color: #068e03 !important;
    width: 36px;
    height: 36px;
    padding: 6px !important;
}

.heart-icon {
    font-size: 24px;
}

.report-col {
    height: 100%;
    width: 50%;
}

.MuiInputBase-formControl {
    background-color: white;
}